
credentials.py
*.json
autoLog.txt
*.pyc
__pycache__/credentials.cpython-310.pyc
db.sqlite3
__pycache__/credentials.cpython-310.pyc
demo files - tests/Example.template
__pycache__/credentials.cpython-310.pyc
__pycache__/credentials.cpython-310.pyc
